@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media (prefers-reduced-motion: no-preference) {
  @media (min-width: 1024px) {
    .hover\:flicker:hover {
      animation: flicker 0.1s infinite;
      will-change: opacity;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-reverse-spin {
  animation: reverse-spin 1s linear infinite;
}
