@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --primary: #FF7F5A;
  --background: #FFFFFF;
  --foreground: #2D3748;
  --border: #dcecf5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #FF6347;
    --background: #121212;
    --foreground: #E5E7EB;
    --border: #313131;
  }
}

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}
